@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lemon';
  src: url('../public/font/LemonMilk.otf');
}

@layer base {
  h2 {
    @apply my-6 text-3xl capitalize lg:text-4xl;
  }
}

@layer components {
  .cardio {
    
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}


 /* Category  */
 .img{
  border:1px solid #222;
  margin: 0 2px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img1{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1704735940/shoes/alphacolor-XdDyRTVo-iw-unsplash_zgn4nd.jpg"); }
.img2{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1704732959/shoes/daniel-romero-6V5vTuoeCZg-unsplash_f6d3mr.jpg"); }  
.img3{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1704736216/shoes/eliott-van-buggenhout-ALf_DGUsgro-unsplash_igssqo.jpg"); }
.img4{ background-image: url("https://res.cloudinary.com/dos8mey8r/image/upload/v1704735641/shoes/smart-watch-6482245_1280_ujjksl.jpg"); }

@media only screen and (min-width: 1280px) {

  .img {
    height: 100%;
  }
  .img:hover{
    flex: 5;
  }
}